---
import Login from "@components/login/login.astro";
import LoginLayout from "@layouts/LoginLayout.astro";
---
    <div x-data="{imgTenant: '', primaryColor: '', SecondaryColor: '', accessToken: ''}">
        <span x-text="imgTenant"></span>
    <LoginLayout>
        <Login/>
    </LoginLayout>
    </div>