---
import { Icon } from "astro-icon/components";

import UserMenu from "@components/layout/baseLayout/UserMenu.astro";

const { title = "UManizales" } = Astro.props;
---

<div
    class="sticky top-0 z-10 flex h-16 shrink-0 items-center gap-x-4 border-b border-gray-200 bg-white px-4 shadow-sm sm:gap-x-6 sm:px-6 lg:px-8">
    <div class="h-6 w-px bg-gray-900/10 lg:hidden"></div>
    <div class="flex flex-1 gap-x-4 justify-between lg:gap-x-6">
        <div class="flex items-center gap-x-4 font-semibold text-xl">
            {title}
        </div>
    </div>
</div>
