---
import { Icon } from "astro-icon/components";
import MenuApplicative from "./MenuApplicative.astro";
const { pathname } = Astro.url;
const { menu } = Astro.props;
---

<nav class="flex flex-1 flex-col" x-data={`{activeMenuItem: ''}`}>
  <ul class="flex flex-1 flex-col gap-y-1">
    <li x-data="{ currentRoute: window.location.pathname }">
      <a
        href="/user"
        class="flex items-center p-2 rounded-md text-sm font-semibold leading-6 group transition relative"
        :class="{'bg-white text-[#99CC33] border-r-4 border-emerald-600': currentRoute === '/user','text-white hover:bg-[#012929]': currentRoute !== '/user'}"
      >
        <Icon name="user/user" />
        <span class="ms-3">Perfil</span>

        <div
          x-show="currentRoute === '/user'"
          class="absolute z-50 right-1 top-0 bottom-0 w-20 bg-white transform translate-x-full overflow-visible"
        >
        </div>
      </a>
      <a
        href="/inbox"
        :class="{'bg-white text-[#99CC33] border-r-4 border-emerald-600': currentRoute === '/inbox','text-white hover:bg-[#012929]': currentRoute !== '/inbox'}"
        class="flex items-center p-2 rounded-md text-sm font-semibold leading-6 group transition relative"
      >
        <Icon name="inbox/inbox" />
        <span class="ms-3">Bandeja de entrada</span>
        <div
          x-show="currentRoute === '/inbox'"
          class="absolute z-50 right-1 top-0 bottom-0 w-20 bg-white transform translate-x-full overflow-visible"
        >
        </div>
      </a>

      <a
        href="/agreement"
        :class="{'bg-white text-[#99CC33] border-r-4 border-emerald-600': currentRoute === '/agreement','text-white hover:bg-[#012929]': currentRoute !== '/agreement'}"
        class="flex items-center p-2 rounded-md text-sm font-semibold leading-6 group transition relative"
      >
        <Icon name="shared/agreement" />
        <span class="ms-3">Convenios</span>
        <div
          x-show="currentRoute === '/agreement'"
          class="absolute z-50 right-1 top-0 bottom-0 w-20 bg-white transform translate-x-full overflow-visible"
        >
        </div>
      </a>

      <a
        href="/project"
        :class="{'bg-white text-[#99CC33] border-r-4 border-emerald-600': currentRoute === '/project','text-white hover:bg-[#012929]': currentRoute !== '/project'}"
        class="flex items-center p-2 rounded-md text-sm font-semibold leading-6 group transition relative"
      >
        <Icon name="shared/projects" />
        <span class="ms-3">Proyectos</span>
        <div
          x-show="currentRoute === '/project'"
          class="absolute z-50 right-1 top-0 bottom-0 w-20 bg-white transform translate-x-full overflow-visible"
        >
        </div>
      </a>
      <a
        href="/report"
        :class="{'bg-white text-[#99CC33] border-r-4 border-emerald-600': currentRoute === '/report','text-white hover:bg-[#012929]': currentRoute !== '/report'}"
        class="flex items-center p-2 rounded-md text-sm font-semibold leading-6 group transition relative"
      >
        <Icon name="shared/report" />
        <span class="ms-3">Reportes</span>
        <div
          x-show="currentRoute === '/report'"
          class="absolute z-50 right-1 top-0 bottom-0 w-20 bg-white transform translate-x-full overflow-visible"
        >
        </div>
      </a>
    </li>
    {
      menu.map(
        (applicative) =>
          applicative.name === "Convocatorias" && (
            <MenuApplicative
              key={applicative.name}
              Asegúrate
              de
              que
              haya
              una
              key
              si
              es
              un
              array
              de
              elementos
              name={applicative.name}
              options={applicative.options}
            />
          ),
      )
    }
  </ul>
</nav>
