---
import { Icon } from "astro-icon/components";
import Logo from "@components/layout/baseLayout/sideNav/Logo.astro";
import Menu from "@components/layout/baseLayout/sideNav/Menu.astro";
const menu = Astro.cookies.get("menu").value;
const buildMenu = JSON.parse(menu);
const primaryColor = Astro.cookies.get("primary_color").value;
const MENU = [
    {
        name: buildMenu.name,
        options: buildMenu.options
    }
]
---

<div class="relative z-20 lg:hidden">
    <div class="fixed inset-0 bg-gray-900/80" x-show="isSidebarMenuOpen"></div>
    <div class="fixed inset-0 flex" x-show="isSidebarMenuOpen">
        <div class="relative mr-16 flex w-full max-w-xs flex-1">
            <div class="absolute left-full top-0 flex w-16 justify-center pt-5">
                <button type="button" class="-m-2.5 p-2.5">
                    <Icon class="h-6 w-6 text-white" name="shared/close" />
                </button>
            </div>
            <div
                style=`background-color: ${primaryColor};`
                class="flex grow flex-col gap-y-5 overflow-y-auto px-6 py-4"
                @click.outside="isSidebarMenuOpen = false"
            >
                <Logo />
                <Menu menu={MENU} />
            </div>
        </div>
    </div>
</div>
