---
import { ViewTransitions } from "astro:transitions";

import Favicon from "@components/shared/Favicon.astro";
import MetaTags from "@components/shared/MetaTags.astro";
---

<!doctype html>
<html class="bg-white h-full" lang="es">
    <head>
        <MetaTags />
        <Favicon />
        <ViewTransitions />
    </head>
    <body class="flex items-center justify-center h-screen ">
        <slot/>
    </body>
</html>
